---
link: "/index.html"
---
{{!-- banner --}}
<div class="banner">
    <img class="am-show-sm-only index-banner-phone" src="assets/images/index/banner-phone.png" />
    <div class="banner-text">
        <p class="top-text">软件定义边界</p>
        <p class="center-text">Software Defined Perimeter</p>
        <p class="bottom-text">万物互联时代的企业安全体系</p>
        <p class="apply-trial apply">申请试用</p>
    </div>
</div>
{{!-- content --}}
<div class="layout index-content">
    <div class="content-pack what-sdp">
        <p class="content-title">什么是SDP？</p>
        <p class="content-text">SDP即软件定义边界，是由国际云安全联盟（CSA）于2014年提出的网络安全模型。SDP主张网络隐身、最小授权，是更适用于云和移动时代的企业访问控制方案。
SDP的提出者之一是原CIA的CTO。SDP架构中许多技术来自于CIA和美国国防部。广为流行的零信任架构Beyondcorp是Google自家的SDP项目。经过多年发展，
SDP已经被越来越广泛地应用。Gartner甚至预言2021年会有60%以上的企业使用SDP替代现有方案。</p>
    </div>
    <div class="content-pack sdp-advantage">
        <p class="content-title">SDP四大优势</p>
        <div class="sdp-advantage-pack">
            <div>
                <img src="../../assets/images/index/whyus_01.png" alt="">
                <p>网络隐身</p>
                <p>只有合法员工能“连接”企业应用，让网络攻击无从发起</p>
            </div>
            <div>
                <img src="../../assets/images/index/whyus_02.png" alt="">
                <p>按需授权</p>
                <p>只授予员工完成工作所需的最小权限</p>
            </div>
            <div>
                <img src="../../assets/images/index/whyus_03.png" alt="">
                <p>态势感知</p>
                <p>时刻监控、审计用户访问行为</p>
            </div>
            <div>
                <img src="../../assets/images/index/whyus_04.png" alt="">
                <p>云管端一体化</p>
                <p>全面保护企业办公安全</p>
            </div>
        </div>
    </div>
    <div class="content-pack safety-model">
        <div>
            <p class="content-title">软件定义边界（SDP）的安全模型</p>
        <div class="safety-model-left">
            <p>SDP安全模式架构图</p>
            <img src="../../assets/images/index/SDP_safety.png" alt="">
        </div>
        <div class="safety-model-right">
            <p class="safety-model-right-title">SDP关键技术</p>
            <div class="safety-model-right-list">
                <span class="safety-model-right-num">01</span>
                <div>
                    <p>网络隐身 Information Hiding</p>
                    <p>隐藏服务器地址、端口，使之不被扫描发现</p>
                </div>
            </div>
            <div class="safety-model-right-list">
                <span class="safety-model-right-num">02</span>
                <div >
                    <p>预验证 Pre-authentication</p>
                    <p>在连接服务器之前，先验证用户和设备的合法性</p>
                </div>
            </div>
            <div class="safety-model-right-list">
                <span class="safety-model-right-num">03</span>
                <div>
                    <p>预授权 Pre-authorization</p>
                    <p>用户只能看到被授权访问的应用（最小权限原则）</p>
                </div>
            </div>
            <div class="safety-model-right-list">
                <span class="safety-model-right-num">04</span>
                <div>
                    <p>应用级的访问准入 Application Layer Access</p>
                    <p>用户只有应用层的访问权限，无网络级的访问</p>
                </div>
            </div>
            <div class="safety-model-right-list">
                <span class="safety-model-right-num">05</span>
                <div>
                    <p>扩展性 Extensibility</p>
                    <p>基于标准协议，可以方便与其它安全系统集成</p>
                </div>
            </div>
        </div>
        </div>      
    </div>
    <div class="content-pack safety-idea">
        <p class="content-title">安全思路的转变：攻防 → 隐身</p>
        <p class="content-text">传统安全产品主张防御，但再坚固的城墙也会被攻破。隐盾主张隐身，谁都无法攻击看不到的东西。</p>
        <img src="../../assets/images/index/deep.png" alt="">
    </div>
    <div class="content-pack scenarios">
        <div>
            <p class="content-title">应用场景</p>
            <div class="scenarios-content">
                <div class="scenarios-content-list">
                    <div class="scenarios-content-list-text">
                        <p class="scenarios-list-num">01</p>
                        <p class="scenarios-list-title">远程访问：P企业合作伙伴/分公司访问业务系统</p>
                        <p class="content-text">身份、设备均验证合法的合作伙伴才能访问业务系统。隐盾实现了基于身份的“按需授权”安全策略，合作伙伴只能访问完成工作必须的应用，不暴露其他内网资源。<a href="#">了解更多</a></p>
                    </div>
                    <img src="../../assets/images/index/scenarios_01.png" alt="">  
                </div>
                <div class="scenarios-content-list">
                    <img src="../../assets/images/index/scenarios_02.png" alt="">  
                    <div class="scenarios-content-list-text">
                        <p class="scenarios-list-num">02</p>
                        <p class="scenarios-list-title">企业内网安全加固</p>
                        <p class="content-text">病毒无法突破网关进入到应用服务器，每个用户都基于身份做了“微分段”，即使某个用户被“攻陷”，也只会影响到其权限范围内的应用。只有企业浏览器才能访问应用，这使得传统攻击工具都无效了。<a href="#">了解更多</a></p>
                    </div>
                </div>
                <div class="scenarios-content-list">
                    <div class="scenarios-content-list-text">
                        <p class="scenarios-list-num">03</p>
                        <p class="scenarios-list-title">企业安全上云</p>
                        <p class="content-text">应用网关屏蔽了基于网络向业务应用系统发起的攻击，隐盾的“网络隐身”效果减小了攻击面。只有身份、设备验证合法的授权用户才能正常访问业务系统。企业既享受了上云的好处，又一定程度上避免了上云带来的安全风险。<a href="#">了解更多</a></p>
                    </div>
                    <img src="../../assets/images/index/scenarios_03.png" alt="">  
                </div>
                <div class="scenarios-content-list">
                    <img src="../../assets/images/index/scenarios_04.png" alt="">  
                    <div class="scenarios-content-list-text">
                        <p class="scenarios-list-num">04</p>
                        <p class="scenarios-list-title">企业移动办公/远程办公</p>
                        <p class="content-text">无论在公司、咖啡厅、还是分公司/门店。用户无需配置即可访问内网应用，使用更便捷。内外网统一验证用户、验证设备、限制授权帮助企业实现了 “零信任”网络安全理念。<a href="#">了解更多</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>