---
link: "/product.html"
---
{{!-- banner --}}
<div class="banner">
    <img class="banner-image" src="assets/images/product/banner1@2x.png" />
</div>
<div class="am-tabs function-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">
  <ul class="am-tabs-nav am-nav am-nav-tabs">
      <li class="am-active"><a href="javascript: void(0)">深云隐盾网关</a></li>
      <li class=""><a href="javascript: void(0)">Enterplorer企业浏览器</a></li>
      <li class=""><a href="javascript: void(0)">深云SDP安全大脑</a></li>    
  </ul>
  <div class="am-tabs-bd">
      <div class="am-tab-panel am-active am-in">
        <ul class="function-content">
            <li >
             <div>
                  <h5>深云隐盾网关</h5>
              <div class="lr">
                <ul class="description">
                    <li>包括软件,硬件网关两种类型</li>
                    <li>保护企业应用,帮应用实现网络隐身</li>
                    <li>验证用户身份,监控用户连接</li>
                </ul>
              </div>
               <img src="assets/images/product/1@2x.png" alt="">
             </div>
            </li>
            <li class="dark">
              <div>
                <h5>深云隐盾网关：服务器的隐身防护罩</h5>
              <div>              
                <p class="subTitle">让业务服务器只对授权的SDP客户端可见，对其他工具完全不可见</p>
              </div>
              <img src="assets/images/product/2@2x.png">
               </div>
            </li>
             
            <li>
             <div>
                  <h5>支持高可用集群，确保7*24小时稳定运行</h5>
              <div>
              </div>
              <img src="assets/images/product/3@2x.png">
             </div>
            </li>
        </ul>
      </div>
    
      <div class="am-tab-panel">
        <ul class="function-content">
             <li >
             <div>
                  <h5>Enterplorer企业浏览器</h5>
              <div class="lr">
                <ul class="description">
                    <li>为企业深度定制、集成，满足个性需求</li>
                    <li>全平台支持——Windows、Mac OS、Linux、Android、IOS等系统</li>
                    <li>兼容Chrome内核、IE内</li>
                </ul>
              </div>
               <img src="assets/images/product/browser1@2x.png" alt="">
             </div>
            </li>
            <li >
             <div>
                  <h5>一键访问应用，省掉复杂操作</h5>
              <div class="rl">
                 <img src="assets/images/product/browser2@2x.png" alt="">
                <ul class="comment">
                    <li>
                    
                      <div>
                        <h6>不用说明文档</h6>
                      <p>管理员在后台统一配好浏览器参数、要装的插件。用户全程无感知。</p>
                      </div>
                    </li>
                    <li>
                     
                      <div>
                        <h6>不用VPN</h6>
                      <p>网关搭在内网应用前，自动转发合法的请求。用户安全无缝访问内外网。</p>
                      </div>
                    </li>
                    <li>
                     
                      <div>
                        <h6>不用输密码</h6>
                      <p>提供SSO方案，用户记住一个浏览器密码就能畅通无阻。</p>
                      </div>
                    </li>
                </ul>
              </div>
              
             </div>
            </li>
             <li >
              <div>
                <h5>自动多内核切换，只装一个浏览器就够了</h5>
              <div>              
                <p class="subTitle">与普通浏览器相比，Enterplorer有管控后台实现统一配置，更可控；Enterplorer有应用网关实现访问控制，更安全</p>
              </div>
              <img src="assets/images/product/3@2x.png">
               </div>
            </li>
             <li >
             <div>
                  <h5>每个员工都能看到自己最需要的信息</h5>
              <div class="tb">
                <ul class="horizon description">
                    <li>统一待办提醒</li>
                    <li>定制浏览器界面</li>
                    <li>个性化应用导航</li>
                    <li>汇聚业务数据</li>
                </ul>
              </div>
               <img src="assets/images/product/browser4@2x.png" alt="">
             </div>
            </li>
             <li >
              <div>
                <h5>防止浏览痕迹泄露，放心上网没有后顾之忧</h5>              
                  <div class="column2">
                     <div>
                        <div>
                          <img src="assets/images/product/browser5@2x.png">
                          <h6>加密硬盘中的缓存、密码</h6>
                          <p>如果用普通浏览器，黑客可以窃取缓存，还原出你刚刚看过的合同邮件，窃取你自动保存
          的密码。Enterplorer拥有加密的数据沙箱，黑客无法窃取数据。</p>
                        </div>
                        <div>
                          <img src="assets/images/product/browser5-1@2x.png">
                          <h6>物理隔离内存中的机密数据</h6>
                          <p>无论怎么加密，使用前，还是要解密后放到内存里才能用。Enterplorer利用内存保护技
          术，在芯片中单独划出一块物理内存保护区，保护内存中的机密数据不可被其他程序窃取。</p>
                        </div>
                        </div>
                  </div>
               </div>
            </li>
             <li >
              <div>
                <h5>发现异常行为，进行二次验证</h5>
              <div>              
                <p class="subTitle">使用新设备时，进行手机短信验证；进行重要操作时，进行指纹识别……</p>
              </div>
                <div class="rl">
                  <img src="assets/images/product/browser6@2x.png">
                  <ul class="verification">
                    <li>短信验证</li>
                    <li>人脸验证</li>
                    <li>手势密码</li>
                    <li>指纹识别</li>
                    <li>声纹识别</li>
                  </ul>
                </div>
               </div>
            </li>
             <li >
              <div class="column3">
                <h5>限制不可控的人员对重要系统的访问和操作权限</h5>
                  <div >              
                     <div>
                       <img src="assets/images/product/browser7-1@2x.png" alt="">
                       <h6>访问控制</h6>
                       <p>只有财务部的员工（身份），使用公司的指定电脑（设备），才能打开财务系统。</p>
                     </div>
                     <div>
                       <img src="assets/images/product/browser7-3@2x.png" alt="">
                       <h6>行为控制</h6>
                       <p>第三方供用商只能打开供用商订单系统而且浏览器不显示地址栏，不允许打开右键菜单，无法复制另存。</p>
                     </div>
                     <div>
                       <img src="assets/images/product/browser7-5@2x.png" alt="">
                       <h6>行为记录</h6>
                       <p>实习生进入重要的企业应用，做截图操作会被记录，下载、访问记录随时被审计。</p>
                     </div>
                  </div>
              </div>
            </li>
        </ul>
      </div>
    
      <div class="am-tab-panel">
        <ul class="function-content">
            <li>
              <div class="average">
                <h5>深云SDP安全大脑：万物互联时代企业安全的控制中枢</h5>
                <div >
                  <div>
                    <h6>深云SDP安全大脑</h6>
                     <img src="assets/images/product/brain1@2x.png">
                  </div>
                  <div>
                    <h6>深云Mannager安全管控平台的4大模块</h6>
                    <div class="fourpart">
                       <div >
                       <img src="assets/images/product/mouse1-1@2x.png" alt="">
                       <h6>访问安全</h6>
                       <p>访问控制、最小权限原则</p>
                     </div>
                     <div>
                       <img src="assets/images/product/mouse1-1@2x.png" alt="">
                       <h6>身份安全</h6>
                       <p>多因子身份认证设备绑定</p>
                     </div>
                     <div>
                       <img src="assets/images/product/mouse1-1@2x.png" alt="">
                       <h6>行为安全</h6>
                       <p>用户行为审计、操作管控</p>
                     </div>
                     <div>
                       <img src="assets/images/product/mouse1-1@2x.png" alt="">
                       <h6>数据安全</h6>
                       <p>缓存cookie加密、文档不落地、内存保存</p>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
             
            </li>
          
            <li>
              <div>
                <h5>DataAware安全态势感知平台</h5>
               <img src="assets/images/function/free.png">
              </div>
            </li>
            <li>
              <div>
                <h5>DataAware安全态势感知平台</h5>
               <img src="assets/images/function/free.png">
              </div>
            </li>
        </ul>
      </div>
    
  </div>
</div>