---
link: "/values.html"
---

<div class="banner">
    <img class="am-show-sm-only index-banner-phone" src="assets/images/values/banner-phone.png" />
    <p>Enterplorer企业浏览器</p>
    <p>安全可控的企业办公入口</p>
    <p class="apply-trial">申请试用</p>
    <div class="values-banner-img"></div>
</div>
<div class="values-content-top">
    <div>
        <p class="center-title">Enterplorer依靠独有的三角架构，打造安全、可控的办公入口</p>
        <p>与普通浏览器相比，Enterplorer有管控后台实现统一配置，更可控；Enterplorer有应用网关实现访问控制，更安全</p>
        <img src="assets/images/values/enterplorer_flow.png" alt="">
    </div>
</div>

<div class="values-content-tap">
    <div>
        <p class="center-title">人人都爱的企业办公浏览器</p>
        <ul class="tap-box">
            <li class="values-tap values-current-tap" data-type="0">
                <div class="employee-bg">
                    <img src="assets/images/values/employee-avatar.png" alt="">
                    <span>我是员工</span>   
                </div>
                <div class="employee-icon">
                    <img src="assets/images/values/employee-1-1.png" alt="">
                </div>
                <div class="employee-text">
                    <p>极致体验</p>
                    <p>全面集成，使用简单方便</p>
                    <p>深度定制，满足个性需求</p>
                </div>
            </li>
            <li class="values-tap" data-type="1">
                <div class="cio-bg">
                    <img src="assets/images/values/cio-avatar.png" alt="">
                    <span>我是CIO</span>   
                </div>
                <div class="cio-icon">
                    <img src="assets/images/values/cio-1-1.png" alt="">
                </div>
                <div class="cio-text">
                    <p>安全合规</p>
                    <p>全面管控身份、行为安全</p>
                    <p>时刻保障终端、连接安全</p>
                </div>
            </li>
            <li class="values-tap" data-type="2">
                <div class="it-bg">
                    <img src="assets/images/values/it-avatar.png" alt="">
                    <span>我是IT</span>   
                </div>
                <div class="it-icon">
                    <img src="assets/images/values/it-1-1.png" alt="">
                </div>
                <div class="it-text">
                    <p>维护方便</p>
                    <p>一个就够，无需适配其他</p>
                    <p>统一配置，降低运维成本</p>
                </div>
            </li>
        </ul>
        <div class="arrow"></div>
    </div>
</div>
<div class="values-content-scroll-tap">
    <ul>
        <li class="scroll-tab" data-sign="0">我是员工</li>
        <li class="scroll-tab" data-sign="1">我是CIO</li>
        <li class="scroll-tab" data-sign="2">我是IT</li>
    </ul>
    <div class="bottom-bar"></div>
</div>
{{!-- 我是it --}}
<div class="values-content-center values-it-box">
    <ul>
        <li>
            <p class="center-title">以后开发应用，不用适配那么多浏览器</p>
            <img src="assets/images/values/it-center-1.png" alt="">
        </li>
        <li>
            <p class="center-title">统一管理，运维人员不用再四处救火</p>
            <img src="assets/images/values/it-center-2.png" alt="">
        </li>
        <li class="center-title">
            <p>快速对接现有身份验证系统</p>
            <div>
                <ul>
                    <li>
                        <span>微软AD</span>
                        <span>Oracle IAM</span>
                    </li>
                    <li>
                        <span>OpenLDAP</span>
                        <span>CAS</span>
                    </li>
                    <li>
                        <span>OAuth协议</span>
                        <span>竹云</span>
                    </li>
                    <li>
                        <span>九州云腾</span>
                        <span>……</span>
                    </li>
                </ul>
                <div>
                    <img src="assets/images/values/it-center-3.png" alt="">
                </div>
            </div>
            
        </li>
    </ul>
</div>
{{!-- 我是员工 --}}
<div class="values-content-center values-employee-box values-content-active">
    <ul>
        <li>
            <p class="center-title">一键访问应用，省掉复杂操作</p>
            <div class="employee-top-content">
                <div class="employee-top-img">
                    <img src="assets/images/values/employee-center-1.png" alt="">
                </div>
                <ul>
                    <li class="employee-top-text">
                        <div>
                            <img src="assets/images/values/employee-center-1-1.png" alt="">
                        </div>
                        <div>
                            <p>不用说明文档</p>
                            <p>管理员在后台统一配好浏览器参数、要装的插件。用户全程无感知。</p>
                        </div>
                    </li>
                    <li class="employee-top-text">
                        <div>
                            <img src="assets/images/values/employee-center-1-2.png" alt="">
                        </div>
                        <div>
                            <p>不用VPN</p>
                            <p>网关搭在内网应用前，自动转发合法的请求。</p>
                        </div>
                        
                    </li>
                    <li class="employee-top-text">
                        <div>
                            <img src="assets/images/values/employee-center-1-3.png" alt="">
                        </div>
                        <div>
                            <p>不用输密码</p>
                            <p>提供SSO方案，用户记住一个浏览器密码就能畅通无阻。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <p class="center-title">自动多内核切换，只装一个浏览器就够了</p>
            <p>与普通浏览器相比，Enterplorer有管控后台实现统一配置，更可控；Enterplorer有应用网关实现访问控制，更安全</p>
            <img src="assets/images/values/employee-center-2.png" alt="">
        </li>
        <li>
            <p class="center-title">每个员工都能看到自己最需要的信息</p>
            <ul>
                <li>统一待办提醒</li>
                <li>定制浏览器界面</li>
                <li>个性化应用导航</li>
                <li>汇聚业务数据</li>
            </ul>
            <div id="employee-slider" class="flexslider">
                <ul class="values-employee-slider slides">
                    <li>
                        <img src="assets/images/values/slider-1.png" alt="">
                    </li>
                    <li>
                        <img src="assets/images/values/slider-2.png" alt="">
                    </li>
                </ul>
            </div>
            
        </li>
    </ul>
</div>
{{!-- 我是cio --}}
<div class="values-content-center values-cio-box">
    <ul>
        <li>
            <p class="center-title">不用Enterplorer的未知用户完全看不到企业应用</p>
            <img src="assets/images/values/cio-center-1.png" alt="">
        </li>
        <li>
            <p class="center-title">限制不可控的人员对重要系统的访问和操作权限</p>
            <ul class="control-access">
                <li>
                    <div class="control-img-left"></div>
                    <p>访问控制</p>
                    <p>只有财务部的员工（身份），使用公司的指定电脑（设备），才能打开财务系统。</p>
                </li>
                <li>
                    <div class="control-img-center"></div>
                    <p>行为控制</p>
                    <p>第三方供用商只能打开供用商订单系统而且浏览器不显示地址栏，不允许打开右键菜单，无法复制另存。</p>
                </li>
               <li>
                    <div class="control-img-right"></div>
                    <p>行为记录</p>
                    <p>实习生进入重要的企业应用，做截图操作会被记录，下载、访问记录随时被审计。</p>
                </li>
            </ul>
        </li>
        <li>
            <p class="center-title">发现异常行为，进行二次验证</p>
            <p>使用新设备时，进行手机短信验证；进行重要操作时，进行指纹识别……</p>
            <div>
                <div>
                    <img src="assets/images/values/cio-center-3.png" alt="">
                </div>
                <ul>
                    <li>
                        <span><i class="icon icon-dx"></i> 短信验证</span>
                        <span><i class="icon icon-rl"></i>人脸验证</span>
                    </li>
                    <li>
                        <span><i class="icon icon-ss"></i>手势密码</span>
                        <span><i class="icon icon-zw"></i>指纹识别</span>
                    </li>
                    <li>
                        <span><i class="icon icon-sw"></i>声纹识别</span>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
