---
component: footer
---

<!-- page footer for page links -->
<footer class="am-hide-sm-only">
  <div class="footer-content">
    <ul class="footer-link">
      
        <li>
          <span>产品</span>
          <ul>
            
              <li><a href="index.html" target="_blank">深云隐遁网关</a></li>
            
              <li><a href="product.html#console" target="_blank">Enterplorer企业浏览器</a></li>
            
              <li><a href="product.html#gateway" target="_blank">深云SDP安全大脑</a></li>
            
          </ul>
        </li>
      
        <li>
          <span>解决方案</span>
          <ul>
            
              <li class="apply"><a href="javascript:;" target="_blank">远程安全访问</a></li>
              <li class="apply"><a href="javascript:;" target="_blank">企业安全上云</a></li>
              <li class="apply"><a href="javascript:;" target="_blank">内网安全加固</a></li>
              <li class="apply"><a href="javascript:;" target="_blank">统一工作入口</a></li>
              <li class="apply"><a href="javascript:;" target="_blank">国密改造及等保合规</a></li>
            
          </ul>
        </li>
      
      <li>
        <span>公司</span>
        <ul class="friend-link">
          
              <li><a href="http://www.vsharing.com/  " target="_blank">关于我们</a></li>
          
        </ul>
      </li>
    </ul>
    <div class="footer-qrCode">
      <P>其他</P>
      <p><img src="assets/images/icon_tel.png" /><span>400-069-0309</span></p>
      <span>关注我们</span>
      <div class="qrcode">
        <img src="assets/images/qrSDP.png"/>
        <span>深云SDP</span>
      </div>
      <div class="qrcode">
        <img src="assets/images/qrCloud.png"/>
        <span>云适配</span>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <span>©2018 CloudDeep Technology</span>
    <span>云深互联（北京）科技有限公司 </span>
    <span><a href="http://www.miibeian.gov.cn/publish/query/indexFirst.action" target="_blank">京ICP备13033158</a></span>
    <div>
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802027692" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <img src="assets/images/beian.png" style="float:left;"/>
        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#e4dfde; font-size:12px;">京公网安备 11010802027692号</p>
      </a>
    </div>
  </div>

  <div class="am-show-sm-only footer-phone">
    <p>©2018 CloudDeep Technology 云深互联（北京）科技有限公司丨京ICP备13033158</p>
  </div>
</footer>
<footer class="am-show-sm-only phone-footer-box">
  <div class="sm-footer-content">
    <P>其他</P>
    <p><i class="phone-icon"></i> 400-069-0309</p>
    <div class="fllow-our">
      <p>关注我们</p> 
    </div>
    <ul class="official-accounts">
      <li>
        <img src="assets/images/qrSDP.png"/>
        <p>深云SDP</p>
      </li>
      <li>
        <img src="../../assets/images/qrCloud.png" alt="">
        <p>云适配</p>
      </li>
    </ul>
  </div>
  <div class="sm-footer-copyright">
    <p>©2018 CloudDeep Technology 云深互联（北京）科技有限公司</p>
    <p><a href="http://www.miibeian.gov.cn/publish/query/indexFirst.action" target="_blank">使用条款｜京ICP备13033158</a></p>
    <p>京公网安备 11010802027692号</p>
  </div>
</footer>