<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
  href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="header-nav am-hide-sm-only header-pc index-header-nav" data-am-sticky>
    <a href="index.html">
        <img src="{{assets}}/images/logo.png" />
    </a>
  <ul>
    <li class="active"><a href="product.html">产品</a></li>
    <li><a href="solution.html">解决方案</a></li>
    <li><a href="values.html">核心价值</a></li>
    <li><a href="success.html">成功案例</a></li>
    <li><a href="about.html">关于我们</a></li>
  </ul>
  <div class="free-box">
    <span class="apply-trial apply">申请试用</span>
  </div>
</header>

<header class="am-show-sm-only header-phone">
  <img src="{{assets}}/images/logo.png"/>
  <i class="am-icon-bars menu-icon"></i>
</header>
<div class="header-nav nav-menu">
  <ul class="">
    <li class="active"><a href="product.html">产品</a></li>
    <li><a href="solution.html">解决方案</a></li>
    <li><a href="values.html">核心价值</a></li>
    <li><a href="success.html">成功案例</a></li>
    <li><a href="about.html">关于我们</a></li>
  </ul>
</div>
